In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('clean_data_kerry.csv', index_col=0)
df.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,P(mid),Y1,Y2,C3p,C5p,C6p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,690.0,62.0,117.0,139.0,9.0,0,1,0,3.864345,11.111111
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,1120.0,71.0,242.0,237.0,9.0,1,0,1,12.028832,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,325.0,61.0,33.0,60.0,13.0,1,0,1,3.369134,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,509.0,80.0,59.0,110.0,15.0,1,1,1,3.299697,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,720.0,67.0,149.0,167.0,20.0,0,1,0,3.726269,5.000000

In [7]:
rand_id1 = np.random.randint(low=1, high=1000, size=682)

In [8]:
df['I1'] = rand_id1

In [9]:
df['I1'].head()

0    250
1    731
2    509
3    234
4    941
Name: I1, dtype: int64

In [11]:
rand_id2 = np.random.randint(low=1, high=1000, size=682)
df['I2'] = rand_id2

In [12]:
df['I2'].head()

0    838
1    223
2    996
3     27
4    381
Name: I2, dtype: int64

In [13]:
rand_id3 = np.random.randint(low=1, high=1000, size=682)
df['I3'] = rand_id3
df['I3'].head()

0    913
1    280
2    763
3    575
4    813
Name: I3, dtype: int64

In [15]:
def normalize(data):
    mean = df.mean()
    low = df.min()
    high = df.max()
    dfnorm = (df - mean) / (high - low)
    dfnorm['I1']=df['I1']
    dfnorm['I2']=df['I2']
    dfnorm['I3']=df['I3']
    return dfnorm

In [16]:
df_norm = normalize(df)
df_norm.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,P(mid),Y1,Y2,C3p,C5p,C6p
0,250,838,913,-0.046801,-0.044305,-0.047762,-0.012133,-0.013350,0.140909,0.000353,...,0.001049,-0.020714,-0.003360,-0.006720,-0.046594,-0.513196,0.291789,-0.463343,-0.007672,0.058403
1,731,223,280,-0.071191,-0.040601,-0.052524,-0.016119,0.052610,-0.859091,-0.000733,...,0.042886,0.008318,0.131922,0.107632,-0.046594,0.486804,-0.708211,0.536657,0.074380,-0.052708
2,509,996,763,-0.083386,-0.010972,-0.014429,-0.016593,-0.028757,0.140909,-0.000651,...,-0.034464,-0.023940,-0.094269,-0.098902,-0.012696,0.486804,-0.708211,0.536657,-0.012649,-0.052708
3,234,27,575,-0.028508,0.003843,0.004619,-0.011685,0.028537,0.140909,-0.000580,...,-0.016562,0.037350,-0.066130,-0.040559,0.004253,0.486804,0.291789,0.536657,-0.013346,-0.052708
4,941,381,813,0.087346,0.040880,0.052238,0.026454,-0.033572,0.140909,-0.000370,...,0.003968,-0.004585,0.031272,0.025952,0.046626,-0.513196,0.291789,-0.463343,-0.009059,-0.002708

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
data = df_norm
scaler = StandardScaler()
print(scaler.fit(data))
StandardScaler(copy=True, with_mean=True, with_std=True)
print(scaler.mean)
print(scaler.transform(df_norm))