In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_clean = pd.read_csv('csv_files/clean_data_kerry.csv', index_col=0)
df_clean.head()

,I1,I2,I3,pIPO,pH,pL,p1day,C1,C2,C3,...,T5,S1,S2,S3,Pmid,Y1,Y2,C3p,C5p,C6p
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,690.0,62.0,117.0,139.0,9.0,0,1,0,3.864345,11.111111
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,1120.0,71.0,242.0,237.0,9.0,1,0,1,12.028832,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,325.0,61.0,33.0,60.0,13.0,1,0,1,3.369134,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,509.0,80.0,59.0,110.0,15.0,1,1,1,3.299697,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,720.0,67.0,149.0,167.0,20.0,0,1,0,3.726269,5.000000

In [9]:
df_values = df_clean.filter(items=['pIPO', 'pH', 'pL', 'p1day', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3'])
df_values.head()

,pIPO,pH,pL,p1day,C1,C2,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,0.029074,40962052.0,10600000.0,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,-0.013352,28869196.0,2400000.0,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,0.020715,16845668.0,5000000.0,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,0.020023,14848637.0,4500000.0,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,-0.034895,30741716.0,8250000.0,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0

In [10]:
# finding IQR for each variable 
Q1 = df_values.quantile(0.25)
Q3 = df_values.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

pIPO     7.000000e+00
pH       4.000000e+00
pL       4.000000e+00
p1day    9.937501e+00
C1       6.775000e+01
C2       0.000000e+00
C3       1.350000e+00
C4       4.429223e-02
C5       3.063502e+07
C6       7.083029e+06
C7       4.589485e+02
T1       1.995000e+02
T2       6.044500e+03
T3       5.583500e+03
T4       1.405000e+02
T5       3.322500e+02
S1       3.975000e+01
S2       6.875000e+01
S3       7.300000e+01
dtype: float64

In [11]:
print('Q1 Values')
print(Q1)
print('Q3 Values')
print(Q3)

Q1 Values
pIPO     1.000000e+01
pH       1.300000e+01
pL       1.100000e+01
p1day    1.109250e+01
C1       8.500000e+01
C2       1.000000e+00
C3      -7.500000e-01
C4      -1.335164e-02
C5       1.874682e+07
C6       5.004180e+06
C7       4.151150e+01
T1       3.512500e+02
T2       9.195750e+03
T3       8.168000e+03
T4       2.132500e+02
T5       4.622500e+02
S1       4.500000e+01
S2       7.300000e+01
S3       1.000000e+02
Name: 0.25, dtype: float64
Q3 Values
pIPO     1.700000e+01
pH       1.700000e+01
pL       1.500000e+01
p1day    2.103000e+01
C1       1.527500e+02
C2       1.000000e+00
C3       6.000000e-01
C4       3.094059e-02
C5       4.938184e+07
C6       1.208721e+07
C7       5.004600e+02
T1       5.507500e+02
T2       1.524025e+04
T3       1.375150e+04
T4       3.537500e+02
T5       7.945000e+02
S1       8.475000e+01
S2       1.417500e+02
S3       1.730000e+02
Name: 0.75, dtype: float64

In [12]:
# identifying outlier value locations sort of 
# Q1 - 1.5 * IQR = lower bound 
# Q3 + 1.5 * IQR = upper bound 
upper = Q3 + 1.5 * IQR
lower = Q1 - 1.5 * IQR
outlier = (df_values < lower) | (df_values > upper)
# above is equivalent to this: outlier = (df_values < (Q1 - 1.5 * IQR)) | (df_values > (Q3 + 1.5 * IQR))
print(outlier)

      pIPO     pH     pL  p1day     C1     C2     C3     C4     C5     C6  \
0    False  False  False  False  False  False   True  False  False  False
1    False  False  False  False   True   True  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False   True  False  False  False  False  False  False
5    False  False  False  False  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False  False  False
7    False  False  False  False  False   True  False  False  False  False
8    False  False  False  False  False  False  False  False  False  False
9    False  False  False  False  False  False  False  False  False  False
10   False  False  False  False  False   True  False  False  False  False
11   False  False  False  False  False  False   True  False  False  False
12   False  False  False  False  False  False  False  False  False  False
13   False   True   True  False  False  False  False  False  False  False
14   False  False  False  False   True  False  False  False  False  False
15   False  False  False  False  False  False  False   True  False  False
16   False  False  False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False  False  False
21   False  False  False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False  False  False
23   False  False  False  False  False  False   True  False  False  False
24   False  False  False  False  False  False  False  False  False  False
25   False  False  False   True  False  False   True  False  False  False
26   False  False  False  False   True  False  False  False  False  False
27   False  False  False  False  False  False  False  False  False   True
28   False  False  False  False  False  False  False  False  False  False
29   False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
652  False  False  False  False  False   True  False  False  False  False
653  False  False  False  False  False  False  False  False  False  False
654  False  False  False  False  False  False   True  False   True   True
655   True   True   True   True  False  False  False  False   True   True
656  False  False  False  False  False  False  False  False  False  False
657  False  False  False  False  False   True  False  False  False  False
658  False  False  False  False  False  False  False  False  False  False
659  False  False  False  False  False  False   True  False  False  False
660  False  False  False  False  False  False  False  False  False  False
661  False   True   True  False  False  False   True  False   True   True
662  False  False  False  False  False  False   True  False  False  False
663  False  False  False  False  False  False  False  False  False  False
664  False  False  False  False  False   True  False  False  False  False
665  False   True   True  False   True  False   True  False  False  False
666  False  False  False  False   True  False   True  False  False  False
667  False  False  False   True  False   True   True  False  False  False
668  False  False  False  False  False  False   True  False  False  False
669  False  False  False  False  False  False  False  False  False  False
670  False  False  False   True   True  False   True  False  False  False
671  False  False  False  False  False  False  False  False  False  False
672  False  False  False  False  False   True  False  False  False  False
673  False  False  False  False  False  False  False  False  False  False
674  False   True  False  False  False   True  False  False  False  False
675  False  False  False  False  False   True  False  False  False  False
676  False  False  False  False  False  False   True  False  False  False
677  False  False  False  False   True  False  False  False  False  False
678  False  False  False  False  False  False  False  False  False  False
679  False  False  False  False  False   True  False  False  False  False
680  False  False  False  False  False  False  False  False  False  False
681  False  False  False  False   True  False  False  False  False   True

        C7     T1     T2     T3     T4     T5     S1     S2     S3
0    False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False
5    False  False  False  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False  False
8    False  False  False  False  False  False  False  False  False
9    False  False  False  False  False  False  False  False  False
10   False  False  False  False  False  False  False  False  False
11   False  False  False  False  False  False  False  False  False
12   False  False  False  False  False  False  False  False  False
13   False  False  False  False  False  False  False  False  False
14   False  False  False  False  False  False  False   True  False
15   False  False  False  False  False  False  False  False  False
16   False  False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False  False
21    True  False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False  False
23   False  False  False  False  False  False  False  False  False
24   False  False  False  False  False  False  False  False  False
25   False  False  False  False  False  False  False  False  False
26   False  False  False  False  False  False  False  False  False
27   False  False  False  False  False  False  False  False  False
28   False  False  False  False  False  False  False  False  False
29   False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
652  False  False  False  False  False  False  False  False  False
653  False  False  False  False  False  False  False  False  False
654  False  False  False  False  False  False  False  False  False
655  False  False  False  False  False  False  False  False  False
656  False  False  False  False  False  False  False  False  False
657  False  False  False  False  False  False  False  False  False
658   True  False  False  False  False  False  False  False  False
659  False  False  False  False  False  False  False  False  False
660  False  False  False  False  False  False  False  False  False
661   True  False  False  False  False  False  False   True  False
662   True  False  False  False  False  False  False  False  False
663  False  False  False  False  False  False  False  False  False
664  False  False  False  False  False  False  False  False  False
665  False  False  False  False  False  False  False  False  False
666  False  False  False  False  False  False  False  False  False
667  False  False  False  False  False  False  False  False  False
668  False  False  False  False  False  False  False  False  False
669  False  False  False  False  False  False  False  False  False
670  False  False  False  False  False  False  False  False  False
671  False  False  False  False  False  False  False  False  False
672  False  False  False  False  False  False  False  False  False
673  False  False  False  False  False  False  False  False  False
674  False  False  False  False  False  False  False  False  False
675  False  False  False  False  False  False  False  False  False
676  False  False  False  False  False  False  False  False  False
677  False  False  False  False  False  False  False  False  False
678  False  False  False  False  False  False  False  False  False
679  False  False  False  False  False  False  False  False  False
680  False  False  False  False  False  False  False  False  False
681   True  False  False  False  False  False  False  False  False

[682 rows x 19 columns]

In [13]:
print(upper)

pIPO     2.750000e+01
pH       2.300000e+01
pL       2.100000e+01
p1day    3.593625e+01
C1       2.543750e+02
C2       1.000000e+00
C3       2.625000e+00
C4       9.737893e-02
C5       9.533437e+07
C6       2.271175e+07
C7       1.188883e+03
T1       8.500000e+02
T2       2.430700e+04
T3       2.212675e+04
T4       5.645000e+02
T5       1.292875e+03
S1       1.443750e+02
S2       2.448750e+02
S3       2.825000e+02
dtype: float64

In [14]:
print(lower)

pIPO    -5.000000e-01
pH       7.000000e+00
pL       5.000000e+00
p1day   -3.813751e+00
C1      -1.662500e+01
C2       1.000000e+00
C3      -2.775000e+00
C4      -7.978998e-02
C5      -2.720571e+07
C6      -5.620363e+06
C7      -6.469112e+02
T1       5.200000e+01
T2       1.290000e+02
T3      -2.072500e+02
T4       2.500000e+00
T5      -3.612500e+01
S1      -1.462500e+01
S2      -3.012500e+01
S3      -9.500000e+00
dtype: float64