In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../csv_files/p1_binning.csv', index_col=0)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3

In [3]:
df = df.rename(columns={'LongSentences': 'T4p', 'RealWords':'T3p', 'LongWords':'T5p', 
                   'PositiveWords':'S1p', 'NegativeWords':'S2p', 'UncertainWords':'S3p'})
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3

In [4]:
df.columns

Index(['I1', 'I2', 'I3', 'pIPO', 'pH', 'pL', 'p1day', 'Pmid', 'Y1', 'Y2',
       'C6p', 'C1', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5',
       'S1', 'S2', 'S3', 'C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p', 'C2',
       'C3p', 'Industry_Bins'],
      dtype='object')

In [6]:
df = df.drop(labels=['C3', 'C5', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3'], axis=1)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3

In [7]:
dfx = df.filter(['C1', 'C4', 'C6', 'C7','C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p', 'C2', 'C3p', 'Industry_Bins'])
dfx.head()

,C1,C4,C6,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,0.458312,0.630418,0.673869,0.207673,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1
1,1.000000,0.384735,0.290706,0.147494,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1
2,0.327366,0.582011,0.449107,0.078383,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1
3,0.814322,0.578004,0.423274,0.084319,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1
4,0.286445,0.259982,0.590068,0.729255,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3

In [9]:
dfy = df.filter(['Y1', 'Y2'])
dfy.head()

   Y1  Y2
0   0   1
1   1   0
2   1   0
3   1   1
4   0   1

In [12]:
df = pd.concat([dfx, dfy], axis=1)
df.head()

,C1,C4,C6,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins,Y1,Y2
0,0.458312,0.630418,0.673869,0.207673,0.570284,0.441786,0.427704,0.428334,0.428161,0.397992,0.379065,1.0,0,1,0,1
1,1.000000,0.384735,0.290706,0.147494,0.698942,0.444796,0.426904,0.424499,0.400971,0.414195,0.378486,0.0,1,1,1,0
2,0.327366,0.582011,0.449107,0.078383,0.555596,0.439275,0.427741,0.437681,0.493771,0.363924,0.384058,1.0,1,1,1,0
3,0.814322,0.578004,0.423274,0.084319,0.553374,0.371690,0.428343,0.437523,0.479331,0.375764,0.401495,1.0,1,1,1,1
4,0.286445,0.259982,0.590068,0.729255,0.566377,0.404918,0.426088,0.420497,0.422876,0.405605,0.382601,1.0,0,3,0,1

In [14]:
df.to_csv('../evalcodep1.csv')