In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../csv_files/p2_binning.csv', index_col=0)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,LongSentences,RealWords,LongWords,PositiveWords,NegativeWords,UncertainWords,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.054797,0.168664,0.385146,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,2.432764,0.229323,0.151570,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,-0.232390,0.118072,0.396011,1.107408,2.766871,-0.974778,0.044531,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,-0.276002,-1.244015,0.572529,1.093939,2.091573,-0.603481,0.697712,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,-0.021399,-0.574359,-0.085643,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3

In [4]:
df = df.rename(columns={'LongSentences': 'T4p', 'RealWords':'T3p', 'LongWords':'T5p', 
                   'PositiveWords':'S1p', 'NegativeWords':'S2p', 'UncertainWords':'S3p'})
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.054797,0.168664,0.385146,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,2.432764,0.229323,0.151570,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,-0.232390,0.118072,0.396011,1.107408,2.766871,-0.974778,0.044531,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,-0.276002,-1.244015,0.572529,1.093939,2.091573,-0.603481,0.697712,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,-0.021399,-0.574359,-0.085643,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3

In [5]:
df.columns

Index(['I1', 'I2', 'I3', 'pIPO', 'pH', 'pL', 'p1day', 'Pmid', 'Y1', 'Y2',
       'C6p', 'C1', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5',
       'S1', 'S2', 'S3', 'C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p', 'C2',
       'C3p', 'Industry_Bins'],
      dtype='object')

In [6]:
df = df.drop(labels=['C3', 'C5', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3'], axis=1)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,0.054797,0.168664,0.385146,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,2.432764,0.229323,0.151570,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,-0.232390,0.118072,0.396011,1.107408,2.766871,-0.974778,0.044531,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,-0.276002,-1.244015,0.572529,1.093939,2.091573,-0.603481,0.697712,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,-0.021399,-0.574359,-0.085643,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3

In [7]:
dfx = df.filter(['C1', 'C4', 'C6', 'C7','C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p', 'C2', 'C3p', 'Industry_Bins'])
dfx.head()

,C1,C4,C6,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,0.013297,0.671107,0.336688,-0.561408,0.054797,0.168664,0.385146,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1
1,1.259277,-0.641901,-1.649356,-0.861441,2.432764,0.229323,0.151570,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1
2,-0.447500,0.412402,-0.667998,-1.331894,-0.232390,0.118072,0.396011,1.107408,2.766871,-0.974778,0.044531,1.0,1,1
3,0.888201,0.390990,-0.808871,-1.282655,-0.276002,-1.244015,0.572529,1.093939,2.091573,-0.603481,0.697712,1.0,1,1
4,-0.619728,-1.308620,0.001567,0.887747,-0.021399,-0.574359,-0.085643,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3

In [8]:
dfy = df.filter(['Y1', 'Y2'])
dfy.head()

   Y1  Y2
0   0   1
1   1   0
2   1   0
3   1   1
4   0   1

In [9]:
df = pd.concat([dfx, dfy], axis=1)
df.head()

,C1,C4,C6,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins,Y1,Y2
0,0.013297,0.671107,0.336688,-0.561408,0.054797,0.168664,0.385146,0.310576,-0.147291,0.165044,-0.128181,1.0,0,1,0,1
1,1.259277,-0.641901,-1.649356,-0.861441,2.432764,0.229323,0.151570,-0.016410,-1.241195,0.781034,-0.147795,0.0,1,1,1,0
2,-0.447500,0.412402,-0.667998,-1.331894,-0.232390,0.118072,0.396011,1.107408,2.766871,-0.974778,0.044531,1.0,1,1,1,0
3,0.888201,0.390990,-0.808871,-1.282655,-0.276002,-1.244015,0.572529,1.093939,2.091573,-0.603481,0.697712,1.0,1,1,1,1
4,-0.619728,-1.308620,0.001567,0.887747,-0.021399,-0.574359,-0.085643,-0.357698,-0.365024,0.448793,-0.006539,1.0,0,3,0,1

In [10]:
df.to_csv('../csv_files/p2evalcode.csv')