In [6]:
# import packages 
import numpy as np
import pandas as pd

In [7]:
# read in csv
df = pd.read_csv('../csv_files/p2binning.csv', index_col=0)
df.head()

,I1,I2,I3,pIPO,pH,pL,p1day,Pmid,Y1,Y2,...,C6p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,9.0,0,1,...,1.282356,0.168742,0.174345,0.310826,-0.146970,0.165628,-0.128062,1.0,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,9.0,1,0,...,-0.759933,0.229402,0.099767,-0.016168,-1.240880,0.781633,-0.147676,0.0,1,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,13.0,1,0,...,-0.759933,0.118150,0.177807,1.107680,2.767209,-0.974221,0.044649,1.0,1,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,15.0,1,1,...,-0.759933,-1.243939,0.233959,1.094210,2.091907,-0.602916,0.697829,1.0,1,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,20.0,0,1,...,1.027869,-0.574282,0.023718,-0.357465,-0.364704,0.449384,-0.006421,1.0,0,3

In [8]:
# verify that the columns are named accurately 
df.columns

Index(['I1', 'I2', 'I3', 'pIPO', 'pH', 'pL', 'p1day', 'Pmid', 'Y1', 'Y2', 'C1',
       'C4', 'C7', 'C5p', 'C6p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p',
       'C2', 'C3p', 'Industry_Bins'],
      dtype='object')

In [10]:
# filter out the x variables 
dfx = df.filter(['C1', 'C4', 'C6p', 'C7','C5p', 'T4p', 'T3p', 'T5p', 'S1p', 'S2p', 'S3p', 'C2', 'C3p', 'Industry_Bins'])
dfx.head()

,C1,C4,C6p,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins
0,0.030756,0.669243,1.282356,-0.477847,0.056127,0.168742,0.174345,0.310826,-0.146970,0.165628,-0.128062,1.0,0,1
1,1.279824,-0.643726,-0.759933,-0.789310,2.434275,0.229402,0.099767,-0.016168,-1.240880,0.781633,-0.147676,0.0,1,1
2,-0.431183,0.410546,-0.759933,-1.277684,-0.231083,0.118150,0.177807,1.107680,2.767209,-0.974221,0.044649,1.0,1,1
3,0.907828,0.389135,-0.759933,-1.226569,-0.274697,-1.243939,0.233959,1.094210,2.091907,-0.602916,0.697829,1.0,1,1
4,-0.603838,-1.310426,1.027869,1.026514,-0.020075,-0.574282,0.023718,-0.357465,-0.364704,0.449384,-0.006421,1.0,0,3

In [11]:
# filter out the target variables 
dfy = df.filter(['Y1', 'Y2'])
dfy.head()

   Y1  Y2
0   0   1
1   1   0
2   1   0
3   1   1
4   0   1

In [12]:
# concat the dataframes 
# this is the dataframe we will use in feature selection
df = pd.concat([dfx, dfy], axis=1)
df.head()

,C1,C4,C6p,C7,C5p,T4p,T3p,T5p,S1p,S2p,S3p,C2,C3p,Industry_Bins,Y1,Y2
0,0.030756,0.669243,1.282356,-0.477847,0.056127,0.168742,0.174345,0.310826,-0.146970,0.165628,-0.128062,1.0,0,1,0,1
1,1.279824,-0.643726,-0.759933,-0.789310,2.434275,0.229402,0.099767,-0.016168,-1.240880,0.781633,-0.147676,0.0,1,1,1,0
2,-0.431183,0.410546,-0.759933,-1.277684,-0.231083,0.118150,0.177807,1.107680,2.767209,-0.974221,0.044649,1.0,1,1,1,0
3,0.907828,0.389135,-0.759933,-1.226569,-0.274697,-1.243939,0.233959,1.094210,2.091907,-0.602916,0.697829,1.0,1,1,1,1
4,-0.603838,-1.310426,1.027869,1.026514,-0.020075,-0.574282,0.023718,-0.357465,-0.364704,0.449384,-0.006421,1.0,0,3,0,1

In [13]:
df.to_csv('../csv_files/p2feature-selection.csv')